%h2= @participant.name
%table#display.stars
  %tr
    %td Current
    %td.score= stars @stars[:current]
  %tr
    %td Spent
    %td.score= stars @stars[:spent]
  %tr
    %td
      %strong Lifetime
    %td.score
      = @stars[:lifetime]
      stars

%h3 History
%table#display
  - @points.sort_by{|p| p['created_by']}.reverse.each do |point|
    %tr
      %td.created_at= point.created_at.strftime( "%b %d, %Y" )
      %td.pointtype= point.point_type.name
      %td.score= stars point.point_type.value
      %td.description= point.description

%h3 Awards
%table#display
  - @awards.sort_by{|p| p['created_by']}.reverse.each do |award|
    %tr
      %td.created_at= award.created_at.strftime( "%b %d, %Y" )
      %td.pointtype= award.award_type.name
      %td.description= award.award_type.description
      %td.score
        = award.award_type.num_points
        stars