<h2>Point Types</h2>

<table id="admin">
<% @point_types.each do |point_type| %>
  <tr>
    <td><%= point_type.name %></td>
    <td><%= point_type.description %></td>
    <td class="stars"><%= point_type.value %> stars</td>
    <td class="admin"><%= link_to 'Show', [:admin,point_type] %></td>
    <td class="admin"><%= link_to 'Edit', edit_admin_point_type_path(point_type) %></td>
    <td class="admin"><%= link_to 'Destroy', [:admin,point_type], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Point type', new_admin_point_type_path %>
