<h1>Listing points</h1>

<p id="notice"><%= notice %></p>

<%= link_to 'New Point', new_admin_point_path %>

<table>
  <tr>
    <th>User</th>
    <th>Point type</th>
    <th>Value</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @points.each do |point| %>
  <tr>
    <td><%= point.participant.name %></td>
    <td><%= point.point_type.name %></td>
    <td><%= point.point_type.value %></td>
    <td><%= point.created_at %></td>
    <td><%= link_to 'Show', [:admin,point] %></td>
    <td><%= link_to 'Edit', edit_admin_point_path(point) %></td>
    <td><%= link_to 'Destroy', [:admin,point], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Point', new_admin_point_path %>
