<p id="notice"><%= notice %></p>

<p>
  <b>Participant:</b>
  <%= @point.participant.name %>
</p>

<p>
  <b>Point type:</b>
  <%= @point.point_type.name %>
</p>

<p>
  <b>Date:</b>
  <%= @point.created_at %>
</p>


<%= link_to 'Edit', edit_admin_point_path(@point) %> |
<%= link_to 'Back', admin_points_path %>
