<h2>Listing roles</h2>

<p id="notice"><%= notice %></p>

<table id="admin">
<% @roles.each do |role| %>
  <tr>
    <td><%= role.role_name %></td>
    <td class="admin"><%= link_to 'Show', [:admin, role] %></td>
    <td class="admin"><%= link_to 'Edit', edit_admin_role_path(role) %></td>
    <td class="admin"><%= link_to 'Destroy', [:admin, role], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Role', new_admin_role_path %>
