<h2>Listing participants</h2>

<p id="notice"><%= notice %></p>

<table id="admin">
<% @participants.each do |participant| %>
  <tr>
    <td><%= participant.name %></td>
    <td><%= participant.role.role_name %></td>
    <td class="admin"><%= link_to 'Show', [:admin,participant] %></td>
    <td class="admin"><%= link_to 'Edit', edit_admin_participant_path(participant) %></td>
    <td class="admin"><%= link_to 'Destroy', [:admin,participant], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Participant', new_admin_participant_path %>
